# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Firebase cache
.firebase/

# Firebase config
.runtimeconfig.json

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
